$background: #EFEFEF;

.bosch-bar {
  background: url(../../public/assets/img/bar.svg);
  height: .375rem
}

.header {
  font-family: 'BoschSans', serif;
  font-weight: bold;
  font-size: 1rem;
}

.header-logo {
  width: 50%;
  margin-left: 1em;
  margin-right: 2em
}
.header-title {
  margin-left: -1em;
}
.header-background {
  background: $background;
}